:root  > * {
  /* Primary  */
  --md-primary-fg-color:               #8BBA6B;
  --md-primary-fg-color--light:        #9ACF77;
  --md-primary-fg-color--dark:         #9ACF77;
  --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);

  /* Accent  */
  /* --md-accent-fg-color:                #8AC6B5;
  --md-accent-fg-color--transparent:   hsla(163, 34, 66, 10);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7); */
}
